* {
    font-family: "Iosevka NF";
    background: #141221 ;
    color: #dde5ed;
}
.img-box {
    margin: 4px; /* added 4px margin to element. */
}


/* set <img> have a 2px border width with [solid] style and [red] color. */
div > img {
    border: 2px solid red;
}
